*{
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}
.f1{
	width: 1200px;
	height: 150px;
	background: url(../images/logo.jpg) no-repeat;
}
.f1 p{
	float: right;
	margin: 10px;
	color: #134373;
}
.fa{
	margin-top: -58px;
	width: 1100px;
	color: aliceblue;
}
ul{
	list-style: none;
}
ul a{
	display: block;
	width: 220px;
	line-height: 60px;
	text-align: center;
	color: aliceblue;
	float: left;
	text-decoration: none;
	font-size: 19px;
	background-color: #134373;
}
ul a:hover{
	background-color: #ccd3d8;
	color: #134373;
}
.fa-1{
	margin-top: 50px;
	width: 1100px;
	color: #134373;
	margin-left: 50px;
}
.fa-1 img{
	width: 250px;
	height: 250px;
}
.f2{
	float: left;
	background-color: #134373;
	line-height: 40px;
	width: 100%;
	text-align: center;
}